
* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  
}

.header{
  color: #fff;
  background-color:#1A374D;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h1{
  font-size: xxx-large;
}

.menu{
  /* border: 1px solid #fff; */
  width: 900px;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

.menu button{
  font-size: 16px;
  padding: 8px 20px;
  margin: 0.5em;
  width: 8.5em;
}


.body{
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  /* position: relative; */
}

.body-btn{
  font-size: 45px;
  padding: 8px 20px;
  margin: 5em 3em 1em 3em;

}

.add-btn{
  border:none;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(235, 252, 252);
  transition: 0.3s;
  width: 40%;
  margin-bottom: 2em;
  padding: 1em;
  font-size: large;
}

.footer{
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.footer p{
  color: white;
}